body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

/* falcon section is displayed in a grid to keep all of the buttons in the correct places */
#falcon-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

/* trivia buttons are displayed in a 2 column grid */
#trivia-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* dictate the look of the trivia buttons themselves */
#trivia-buttons button {
    font-size: 25px;
    padding: 50px;
    margin: 25px;
}

/* put the section 1 buttons and image in the correct spots */
#left-button {
    justify-self: end;
}

#falcon-gif {
    justify-self: center;
}

#right-button {
    justify-self: start;
}

/* dictate the look of the section 4 start button */
#start-button {
    justify-self: start;
    background-image: url("assets/gas-pedal.jpg");
    background-size: cover;
    background-position: center;
    padding: 100px;
}

/* dictate the look of the dvd and delorean images  */
#dvd {
    width: 150px;
    position: absolute;
}

#delorean {
    position: relative;
    margin-left: 900;
    width: 300px;
}

/* add additional space for the reflection section */
#reflection {
    margin: 25px;
    padding: 25px;
}

/* make the orbitron font class */
.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* dictate the look of the speedometer text */
#mph {
    color: red;
    font-family: "Orbitron";
    font-size: 50px;
}

/* dictate the look of section 4, and set the elements within it to a grid */
#choose-your-own-adventure {
    background-image: url(assets/hill-bg.jpg);
    height: 900px;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr;
}

/* align the text of sections 1 & 2*/
#image-movement,
#interactive-trivia {
    text-align: center;
}

/* give the arrow buttons more space */
.arrow-buttons {
    padding: 25px;
    margin: 25px;
}